body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #8a2be2
}
h2 {
    color: #222;
    border-bottom: 2px solid #003cff;
    padding-bottom: 5px;
}

/* List Styles */
ol {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

ol li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Paragraph Styles */
p {
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

/* Highlight Fragrances Section */
#WHATWEOFFERINOURSHOP {
    background-color: #ffe6e6;
    padding: 15px;
    border-radius: 5px;
}

/* Hover Effect on Headings */
h4:hover {
    color: #ff6600;
    cursor: pointer;
}

#MEN {
    background-color: yellow;
    padding: 15px;
}

#WOMEN {
    background-color: aqua;
}
#CHILDREN {
    background-color: cadetblue;
}